h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif;
}

a {
  color: #000;
}

a:hover {
  text-decoration: underline;
  color: #000;
}

.nw-navigation-bar {
  width: 100%;
  background-color: red;
  height: 45px;
}

.logo h2 {
  font-family: "Merriweather", serif;
  color: #fff;
  font-weight: bold;
  font-size: 1.4em;
  margin-top: 8px;
}

.nw-bav-btns {
  float: right;
  margin-top: 1px;
}

#signIn {
  font-family: "Oswald", sans-serif;
}

.nw-bav-btns :first-child {
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  border: unset;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0;
}

.nw-bav-btns :nth-child(2) {
  background: #fff;
  color: red;
  text-transform: uppercase;
  border: unset;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0;
  font-family: "Oswald", sans-serif;
}

.nw-bav-btns :last-child {
  background: transparent;
  border: unset;
  letter-spacing: 0;
}

.nw-bav-btns :last-child .fa-bars {
  color: #fb9a94;
  font-size: 30px;
  font-weight: 200;
  position: relative;
  top: 4px;
}

.nw-new-section {
  margin-top: 20px;
}

.nw-new-section h1 {
  color: rgba(3, 3, 3, 0.4);
  font: bold 16px/16px "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  padding-bottom: 11px;
}

.nw-top-story .card {
  width: 100%;
  border: unset;
  padding-bottom: 20px;
  border-radius: unset;
}

.nw-top-story .card h5 {
  color: #000;
  font-weight: bolder;
  text-transform: capitalize;
  font-size: 22px;
}

.nw-top-story .card-body {
  padding: unset;
  padding-top: 0px;
}

.category {
  background: #eee;
  width: 98px;
  height: 32px;
  position: relative;
  bottom: 32px;
  color: red;
}

.category h6 {
  text-align: center;
  padding-top: 7px;
  text-transform: uppercase;
  font-weight: 800;
}

.more-stories .card {
  border: unset;
  border-top: 1px solid #ccc5c5;
  padding-top: 20px;
  border-radius: unset;
}

.more-stories .card-body {
  padding: unset;
  padding-left: 20px;
}

.more-stories a {
  text-transform: capitalize;
  font-weight: bolder;
}

.more-stories p {
  margin-top: -10px;
  font-size: 13px;
}

.culture-travel {
  background-color: #eee;
  width: 100%;
  height: auto;
  border-radius: 1px;
}

.culture-travel h1 {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.culture-travel .nw-top-story .card {
  background-color: #eee;
}

.culture-travel .category {
  bottom: unset;
  left: 10px;
  width: 60px;
  padding: 0px;
}

.culture-travel .category h6 {
  color: #000;
  text-transform: capitalize;
  background-color: #c2d4d7;
}

.culture-travel .card h5 {
  font-family: auto;
  font-weight: 500;
  padding-top: 20px;
  padding-left: 10px;
}

.culture-travel .card p {
  padding-left: 10px;
  color: #828282;
}

.featured-stories p {
  font-size: 13px;
  font-weight: 400;
}

.nw-new-section .opinion-section img{
  border-radius: 50%;
}

